
<h3>Product List</h3>
<div class="example-container">
    <mat-form-field>
      <input [(ngModel)]="product.name" matInput placeholder="Name">
    </mat-form-field>
  
    <mat-form-field>
        <input [(ngModel)]="product.price" matInput placeholder="Price">
    </mat-form-field>
  

        <button mat-button color="primary" (click)="save()">Create</button>
 
  </div>

  <ul class="products">
    <li *ngFor="let product of products">
      <span class="badge">{{product.id}}</span> {{product.name}} - {{product.price}}
    </li>
  </ul>

  
