
<h3>Product List</h3>

<!-- <mat-grid-list cols="2" rowHeight="500px">
  <mat-grid-tile>-->

    <div>
      <div style="width:98%; float:left;">
          <div class="example-container mat-elevation-z8">
              <mat-form-field>
                  <input [(ngModel)]="product.id" matInput placeholder="ID" readonly>
                </mat-form-field>
              <mat-form-field>
                <input [(ngModel)]="product.name" required matInput placeholder="Name">
              </mat-form-field>
            
              <mat-form-field>
                  <input matInput [(ngModel)]="product.price" required type="number" class="right-align"  placeholder="Price">
                  <span matPrefix>$&nbsp;</span>
                </mat-form-field>
            
                <mat-form-field>
                  <mat-select [(ngModel)]="product.type" placeholder="Type">
                      <mat-option>None</mat-option>
                    <mat-option *ngFor="let type of types" [value]="type.id">
                      {{ type.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <p> Selected value: {{product.type}} </p>

                <div class="button-row">
 <!-- <button mat-button color="primary" (click)="save()">Create</button> -->
 <button mat-button color="primary" [disabled]="!isValid()" mat-raised-button (click)="save_sequlize()">Save</button>
 <button mat-button color="basic" (click)="clear()">Clear</button>
 <button mat-raised-button (click)="delete()" color="warn">Delete</button>
                </div>
          
                 
            </div>
      </div>
      <div style="padding-top:20px; width:98%; float:left;">
          <div class="example-container mat-elevation-z8">
              <div class="example-header">
                  <mat-form-field>
                    <input matInput #filter placeholder="Filter products">
                  </mat-form-field>
                </div>

              <mat-table #table [dataSource]="dataSource" matSort>
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
            
                <!-- ID Column -->
                <ng-container cdkColumnDef="productId">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header> ID </mat-header-cell>
                  <mat-cell *cdkCellDef="let row" class="example-cell"> {{row.id}} </mat-cell>
                </ng-container>
            
          <!-- Name Column -->
          
          <ng-container cdkColumnDef="productName">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *cdkCellDef="let row" class="example-cell"><a> {{row.name}}</a> </mat-cell>
            <!-- routerLink="/products/detail/{{row.id}}" -->
          </ng-container>

          <!-- Name Column -->
          
          <ng-container cdkColumnDef="productType">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *cdkCellDef="let row" class="example-cell"><a> {{row.type}}</a> </mat-cell>
          </ng-container>
          
                <!-- Price Column -->
                <ng-container cdkColumnDef="price">
                  <mat-header-cell *cdkHeaderCellDef mat-sort-header> Price </mat-header-cell>
                  <mat-cell *cdkCellDef="let row" class="example-cell"> {{row.price | number}} vnd</mat-cell>
                </ng-container>                          
            
                <mat-header-row *cdkHeaderRowDef="displayedColumns" class="example-header-row"></mat-header-row>
                <mat-row *cdkRowDef="let row; columns: displayedColumns;" (click)="selectProduct(row)"  class="example-row"></mat-row>
              </mat-table>

              <div class="example-no-results"
         [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
      No products found matching filter.
    </div>
  
    <mat-paginator #paginator 
                  [length]="dataSource?.filteredData.length"
                  [pageIndex]="0"
                  [pageSize]="25"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

            </div>
      </div>
    </div>

      

      



    

  <!-- </mat-grid-tile>
  <mat-grid-tile> -->


  
  <!-- </mat-grid-tile>
</mat-grid-list> -->



  
  
  
  <!-- Copyright 2017 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
