
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
<mat-toolbar color="primary" class="example-toolbar" *ngIf="isLoggedIn$ | async">
  <button mat-icon-button (click)="snav.toggle()"><fa name="cog" animation="spin"></fa></button>
  <h1 class="example-app-name">Tour of Products</h1>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav  #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list *ngIf="isLoggedIn$ | async">
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/products">Products</a>
      <a mat-list-item routerLink="/product_type/">Product Type</a>
      <a mat-list-item routerLink="/suppliers">Suppliers</a>
      <!-- <a mat-list-item routerLink="/login">Log out</a> -->
      <button mat-button (click)="onLogout()" *ngIf="isLoggedIn$ | async">Logout</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
      <app-messages></app-messages>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>


